[Unit]
Description=DexBoost Node.js Server
After=network.target

[Service]
Type=simple
User=dexbo2374
Group=dexbo2374
WorkingDirectory=/home/dexboost
ExecStart=/usr/bin/npm start
Environment=NODE_ENV=production
Restart=always

[Install]
WantedBy=multi-user.target 